# The time zone
TIME_ZONE = Asia/Bangkok
# set DEBUG to True for testing, False for actual use
DEBUG = True
# Create a secret key using ...
SECRET_KEY = django-insecure-=+5(xbk1&p225d22r3ix2k$7j12b8uwlk*g!$+xhegf3($ba^7
# env
env = True